@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");



* {
  font-family: "Poppins", sans-serif;
}

/* NAVBAR */
.logo-img {
  height: 50px;
  width: 60px;
}

.intro-img {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 280;
  right: 0;
  width: 70px;
  height: 70px;
  margin: 70px auto 0;
  justify-content: center;
  align-items: center;
}

/* ABOUT */
.card-img {
  height: 250px;
  width: 50px;
}

.title {
  text-align: center;
  margin: 20px;
  font-size: 2rem;
}

.centered {
  text-align: center;
  margin: 70px auto;
}

.intro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.7)) , url("../neonbrand-zFSo6bnZJTw-unsplash.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;
  /* background-attachment: fixed; */
}

.testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.7)) , url("../cdc-GDokEYnOfnE-unsplash.jpg");
  background-position: center;
  background-size: cover;
  /* height: 400px; */
  background-attachment: fixed;
}


.underline {
  /* border-bottom: 2px solid currentColor; */
  text-decoration: underline;
}


/* NAVBAR DROPDOWN */

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

/* Admissions */
.admission-process {
  background-color: blue;
background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(7, 10, 102, 0.8)) , url("https://www.transparenttextures.com/patterns/3px-tile.png");
}

.steps-to-apply {
  background-color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  color: rgba(7, 11, 139, 0.8);
}


/* PORTAL */
.portal-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.9)) , url("../neonbrand-zFSo6bnZJTw-unsplash.jpg");
  background-position: center;
  background-size: cover;
  height: 587px;
  text-align: center;
  /* background-attachment: fixed; */
}

.portal-center {
  margin: 0 auto 0;
  width: 290px;
}

.objective-list li {
    font-size: 14px;
    margin-left: 10px;
    list-style-type: circle;
 }


/* MEDIA QUERIES */
@media (min-width: 300px) and (max-width: 700px) {
  .centered {
    align-items: center;
    margin: 70px 20px;
  }
}

@media (max-width: 780px) {
  .intro-text {
    font-size: 150%;
  }
}
